$asset_suffix: if($variant == 'dark', '-dark', '');

/* Yaru accent color */
@define-color accent_bg_color #{$accent_color};
@define-color accent_color #{$accent_color};

/* macOS window buttons */
windowcontrols {
  button {
    margin: 0 1px 0 1px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    color: transparent;
    min-width: 16px;
    min-height: 16px;

    @each $k in ('close', 'maximize', 'minimize') {
      @each $l, $m in ('',''), (':backdrop','-backdrop'), (':backdrop:hover','-backdrop-hover'), (':hover','-hover'), (':active','-active') {
        &.#{$k}#{$l} {
          background-image: url('mac-icons/titlebutton-#{$k}#{$m}#{$asset_suffix}.svg');
        }
      }
    }
  }

  .fullscreen &,
  .maximized & {
    button {
      @each $l, $m in ('',''), (':backdrop','-backdrop'), (':backdrop:hover','-backdrop-hover'), (':hover','-hover'), (':active','-active') {
        &.maximize#{$l} {
          background-image: url('mac-icons/titlebutton-restore#{$m}#{$asset_suffix}.svg');
        }
      }
    }
  }
}
@if $button_placement == 'left' {
  windowcontrols {
    button.close {
      margin-left: 7px;
    }
    button.minimize {
      margin-left: 1px;
    }
    button.maximize {
      margin: 0 6px 0 1px;
    }
  }
}
@else {
  windowcontrols {
    button.minimize {
      margin: 0 1px 0 6px;
    }
    button.maximize {
      margin-right: 1px;
    }
    button.close {
      margin-right: 7px;
    }
  }
}
