// Yaru accent Colors
$orange:        #E95420;
$bark:          #787859;
$sage:          #657B69;
$olive:         #4B8501;
$viridian:      #03875B;
$prussiangreen: #308280;
$blue:          #0073E5;
$purple:        #7764D8;
$magenta:       #B34CB3;
$red:           #DA3450;

$accent_color: $orange;
