$asset_suffix: if($variant == 'dark', '-dark', '');

/* macOS window buttons */
windowcontrols:not(.empty) {
	button {
		margin: 0 1px 0 0;
		padding: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 16px 16px;
		color: transparent;
		min-width: 16px;
		min-height: 16px;

		@each $k in ('close', 'maximize', 'minimize') {
			@each $l, $m in ('',''), (':backdrop','-backdrop'), (':backdrop:hover','-backdrop-hover'), (':hover','-hover'), (':active','-active') {
				&.#{$k}#{$l} {
					background-image: -gtk-scaled(url('mac-icons/titlebutton-#{$k}#{$m}#{$asset_suffix}.png'),
																			 url('mac-icons/titlebutton-#{$k}#{$m}#{$asset_suffix}@2.png'));
				}
			}
		}
	}

	.fullscreen &,
	.maximized & {
		button {
			@each $l, $m in ('',''), (':backdrop','-backdrop'), (':backdrop:hover','-backdrop-hover'), (':hover','-hover'), (':active','-active') {
				&.maximize#{$l} {
					background-image: -gtk-scaled(url('mac-icons/titlebutton-restore-#{$m}#{$asset_suffix}.png'),
																			 url('mac-icons/titlebutton-restore-#{$m}#{$asset_suffix}@2.png'));
				}
			}
		}
	}
}
windowcontrols:not(.empty) {
	&.start {
		margin: 0 6px 0 7px;
	}
	&.end {
		margin: 0 6px 0 7px;
	}
	button {
		margin: 0 1px 0 0;
	}
}
